<!DOCTYPE html>
<html >
<head>
<meta charset="UTF-8">
    <title>GapShap</title>
<link rel="stylesheet" href="/css/style.css">
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
    </head>
    <body>
    <div>
    <div class="container clearfix" style="width: 690px;">
    <div class="float-left" style="width: 60%;">
    <div class="controls" style="border: none; width:130%;">
        <a href="/rooms/all" class="rooms-btn">Rooms</a>
    </div>

    <div class="room" >
    <div class="room-header clearfix">
    <div class="room-about">
    </div>
    </div> <!-- end room-header -->

    <div class="room-create clearfix" style="border-bottom: 2px solid white;">
    <form action="/user/search" class="register-form" method="post" >
        <input type="text" name="emailId" autofocus placeholder ="search user by email">
        <button type="submit">Search</button>
    </form>
    </div> <!-- end room-create -->



    <div class="room-list">
    <ul>
    <% if(userDetails.connections.length > 0) { %>
<% userDetails.connections.forEach(function(connection) { %>
    <a href="/user/chat/<%= connection.userId %>">
            <li class="room-item"><%= (connection.username.length > 25? connection.username.substr(0, 25) + '...': connection.username) %></li>
            </a>
            <% }); %>
<% } else { %>
<p class="message" style="text-align: center; padding: 0; margin: 0;">No connections yet. Search for users to chat with them.</p>
    <% } %>
</ul>
</div> <!-- end room-list -->
</div> <!-- end room -->
        <div class="controls" style="border: none; width:118%;">
            <a href="/user/logout" class="logout-btn" style="width: auto; padding: 13px; font-size: 12px;">Logout</a>
        </div>
    </div><!-- end float left -->


    <div class="user-profile" style="height:100%;">
        <img src="<%= userDetails.profilePicture %>" alt="<%= userDetails.username %>" />
        <div class="about" style="text-align: center;">
            <input class="hidden" type="hidden" name="profilePicture" value="<%= userDetails.profilePicture %>"><br>
            <input class="hidden" type="text" name="username" value="<%= userDetails.username %>"><br>
            <input class="hidden" type="text" name="emailId" value="<%= userDetails.emailId %>"><br>
            <input class="hidden" type="text" name="profileStatus" value="<%= userDetails.profileStatus %>"><br>
            <% if(userDetails.status= 'Online') { %>
                <i class="fa fa-circle online"></i> <input class="hidden" type="text" name="status" value="<%= userDetails.status %>"><br>
            <% } else { %>
                <i class="fa fa-circle offline"></i> <input class="hidden" type="text" name="status" value="<%= userDetails.status %>"><br>
            <% } %>
        </div>
        <div class="controls" style="width: 100%; text-align: center">
            <a href="/user/checkProfile/<%=userDetails.emailId%>" class="rooms-btn">Update Profile</a>
        </div>
    </div>
    </div>
</div> <!-- end container -->


<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
</body>
</html>